<!DOCTYPE html>
<html>
<head>
  <title>Welcome to We Talk</title>
</head>
<body>
  <div id="splash">
    <h1>We Talk</h1>
    <h2>We talk about everything! 
    <br>
    Hear what we have to say and attend a talk</h2>
  </div>
  
  <div>
    
  </div>

</body>
</html>